body {
  text-align: center;
  font-family: 'Satisfy', cursive;
  background-image: url(../jpg/bg.jpg);
}

/*
essential styles:
these make the slideshow work
*/
.slides {
  position: relative;
  margin: 20px auto;
  height: calc(100vh - 150px);
  padding: 0;
  list-style-type: none;
  -webkit-box-shadow: 0px 1px 19px 6px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 1px 19px 6px rgba(0, 0, 0, 0.27);
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  font-size: 4rem;
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #333;
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
}

.slide > span {
  text-shadow: 4px 4px 10px #000000, 4px 4px 10px #000000, 4px 4px 10px #000000;
}

.slide:nth-of-type(1) {
  background-image: url(../jpg/slide-1.jpg);
}

.slide:nth-of-type(2) {
  background-image: url(../jpg/slide-2.jpg);
}

.slide:nth-of-type(3) {
  background-image: url(../jpg/slide-3.jpg);
}

.slide:nth-of-type(4) {
  background-image: url(../jpg/slide-4.jpg);
}

.slide:nth-of-type(5) {
  background-image: url(../jpg/slide-5.jpg);
}

.slide.active, .slide:focus {
  opacity: 1;
  z-index: 2;
}

.controls {
  display: none;
  cursor: pointer;
}

.controls span {
  display: inline-block;
  border: 1px solid #b36969;
  height: 24px;
  width: 60px;
  text-align: center;
  padding-top: 6px;
}

.control {
  cursor: pointer;
  font-family: 'Muli', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px;
  margin: 5px;
  border-radius: 20%;
  outline: none;
  border: none;
  -webkit-box-shadow: 0px 1px 19px 6px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 1px 19px 6px rgba(0, 0, 0, 0.27);
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

.control:hover, .control:focus {
  background: -o-radial-gradient(center, ellipse, #ffffff 14%, #dddedf 45%, #696969 73%, #464545 100%);
  background: radial-gradient(ellipse at center, #ffffff 14%, #dddedf 45%, #696969 73%, #464545 100%);
}

.control:active {
  background: -o-radial-gradient(center, ellipse, #ffffff 14%, #dddedf 45%, #b4606b 73%, #9c061a 100%);
  background: radial-gradient(ellipse at center, #ffffff 14%, #dddedf 45%, #b4606b 73%, #9c061a 100%);
}

.indicators {
  cursor: pointer;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.indicator {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Muli', sans-serif;
  display: inline-block;
  font-size: 1.7rem;
  background-color: #fffafa;
  font-weight: 700;
  height: 50px;
  width: 52px;
  border: none;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: 0px 1px 19px 6px rgba(0, 0, 0, 0.27);
          box-shadow: 0px 1px 19px 6px rgba(0, 0, 0, 0.27);
  padding-top: 3px;
  outline: none;
}

.indicator:focus, .indicator.active {
  outline: none;
  background: -o-radial-gradient(center, ellipse, #ffffff 14%, #dddedf 45%, #696969 73%, #464545 100%);
  background: radial-gradient(ellipse at center, #ffffff 14%, #dddedf 45%, #696969 73%, #464545 100%);
}
